@{
    ViewBag.Title = "Contacto";
}
<h2 style="margin-top:70px">@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Santo Domingo Oeste<br />
    km.18 Aut. Duarte<br />
    Phone: 809-698-8504
</address>

<address>
    <strong>Instagram:</strong>   <a href="https://www.instagram.com/anyiamz/">Anyi Amz</a><br />
    <strong>Mail:</strong> <a href="mailto:anyelinaalmanzar.opx@gmail.com">anyelinaalmanzar.opx@gmail.com</a>
</address>